.main-bg {
    background: url(../../assets/images/book.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    
    
}

/* title */
h1{
    font-size: 2.8vw;
    color: #fff;
    text-align: center;
    padding: 1.5vw 1vw 2vw;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* //title */

/* content */
.sub-main-w3 {
    margin: 5.5vw 2vw;
   
}

.bg-content-w3pvt {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
}

.top-content-style {
    padding: 2vw 4vw 4vw;
    background: black;
    height: 100px;
    margin-top: 12%;

}

.top-content-style img {
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.sub-main-w3 form {
    background: #ffff;
    padding: 2em;
    -webkit-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    -moz-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    margin: -2.5em 2.5em 2em;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

p.legend {
    color: #4e4d4d;
    font-size: 24px;
    text-align: center;
    margin-bottom: 1.2em;
}

p.legend span {
    color: #000;
    margin-left: 10px;
}

.input {
    position: relative;
    margin: 20px auto;
    width: 100%
}

.input span {
    position: absolute;
    display: block;
    color: black;
    left: 10px;
    top: 12px;
    font-size: 16px;
}

.input input {
    width: 100%;
    padding: 13px 10px 13px 34px;
    display: block;
    border: none;
    border: 1px solid black;
    color: #000;
    box-sizing: border-box;
    font-size: 13px;
    outline: none;
    letter-spacing: 1px;
    background: #fff;
    -webkit-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    -moz-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
}

.submit {
    width: 45px;
    height: 45px;
    display: block;
    margin: 2.5em auto 0;
    background: black;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.submit span {
    color: #fff;
    font-size: 20px;
}

.submit:hover {
    opacity: .8;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

a.bottom-text-w3ls {
    color: #757474;
    font-size: 16px;
    display: inline-block;
    margin: 0em 0em 2em;
    letter-spacing: 1px;
}
p.bottom-text{
    color: #757474;
    font-size: 13px;
    display: inline-block;
    
    letter-spacing: 1px;
}

/* //content */
.input .errorText{
    margin-left:0px;
    margin-top: 33px;
    font-size:13px;
    float: left;
    color: red
}

.footer {
 
    margin-left:6%;
    
     margin-top:10%;
     margin-bottom: 2%;
     height: 100px;
     bottom: 0;
     width: 89%;
    position: relative;
     background-color: white;
        position: relative;
     text-align: center;
     border-radius:5px;
   }
   .footer address{
    float: right;
    font-size: 12px;
    margin-top:-7%;
    margin-right:30px;
    text-align: left;
}
.mailus{
  font-size: 12px;
  margin-top:-2%;
 padding: 12px;
  margin-left:63%;
  text-align: left;
}
.vl {
  border-left: 1px solid black;
  height: 83px;
  margin-right:10%;
  margin-left:-6%;
  position: absolute;
  margin-top:0px;
}
   .footer-icon{
       float: left;
       margin-top:15px;
       margin-left:15px;
   }
 .logo-footer{
     float: left;
     margin-top:21px;
     
     font-size:20px;
 }
 .fb-icon{
     margin-left:-10%;
 }
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 .social-icons{
     float: left;
     margin-top:20px;
     margin-left:170px;
     
 }
 .social-icons a{
     padding: 10px;
     color:rgb(90, 201, 238)
 }
