

<div class="main-bg">
		<!-- title -->
		<h1 ></h1>
		<!-- //title -->
		<!-- content -->
		<div class="sub-main-w3">
			<div class="bg-content-w3pvt">
				<div class="top-content-style">
					<img src="../../assets/images/user.jpg" alt="" />
				</div>
				<form  #loginForm="ngForm" (ngSubmit)="signin(loginForm.value)">
					<p class="legend" style="margin-top:22px ">Login Here<span class="fa fa-hand-o-down"></span></p>
					<div class="input">
						<input type="email" name="username" placeholder="Email"  #usernameRef="ngModel" ngModel required/>
						<span class="fa fa-envelope"></span>
						<span *ngIf="usernameRef.invalid && (usernameRef.dirty || usernameRef.touched)" >
								<div *ngIf="usernameRef.errors.required" class="errorText">
										*email is required!
								</div>
								<div *ngIf="usernameRef.errors.email" class="errorText">
								 *email is invalid!
								</div>
						</span>
					</div>
					<div class="input">
						<input type="password" name="pwd"  #pwdRef="ngModel"  placeholder="Password" ngModel required />
						<span class="fa fa-unlock"></span>
						<span *ngIf="pwdRef.invalid && (pwdRef.dirty || pwdRef.touched)" >
							<div *ngIf="pwdRef.errors.required" class="errorText">
								*password is required!
							</div>
						</span>
					</div>
					<button type="submit" class="btn submit" [disabled]="loginForm.invalid" >
						<span style=" color: white;"><i class="fas fa-sign-in-alt fa-1x"></i></span>
					</button>
				</form>
				<p  class="bottom-text">Don't have an account</p>
				<span><i class="fas fa-hand-point-right"></i></span>
				<a routerLink="/register" class="bottom-text-w3ls" >signup</a>
				
			</div>
		</div>
		<!-- //content -->
		<div class="footer ">
            <i class="fas fa-book fa-3x footer-icon"></i> 
            <p class="logo-footer">BookZone</p>
          <div class="social-icons">
            <a href="https://www.facebook.com/" ><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/"><i id="social-tw"  class="fab fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        
          </div>
          
      
      
          <div class="mailus">
              <div class="vl"></div>
              <b >Mail us at:</b><br>
              Example.com<br>
              Box 564, Disneyland<br>
              Bangalore                                
              
          </div>
          <address >
              <b>Visit us at</b><br>
              BookZone Internet Private Limited,<br>
              Buildings Alyssa, Begonia &<br>             
              Clove Embassy Tech Village,<br>              
      
              </address>
          </div>
	 
		
</div>