<div class="mainBg">
        <div class="addbookform">
                <div class="title">         
                   About Us 
                </div>
                <div class="about-para">
                        In the fall of 2013, the 25-year-old Vincent Lou left SYstemZone and started this business.<br>

                        His passion for products and frustration with the lack of transparency in pricing led them to build Club Factory.<br>
                        
                        While the team skews young, our employees have cut their teeth at places like Amazon, Facebook, Gap, Zara, and J.Crew. We share the passion for pushing boundaries and challenging conventions.<br>
                        
                        If you are a rule breaker, questioner, student who skip classes, join us! Contact us at hr@clubfactory.com<br>
                </div>

                <div class="partners">
                    
                </div>
    </div>
    <div class="footer ">
        <i class="fas fa-book fa-3x footer-icon"></i> 
        <p class="logo-footer">BookZone</p>
      <div class="social-icons">
        <a href="https://www.facebook.com/" ><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com/"><i id="social-tw"  class="fab fa-twitter-square fa-3x social"></i></a>
        <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    
      </div>
      
  
  
      <div class="mailus">
          <div class="vl"></div>
          <b >Mail us at:</b><br>
          Example.com<br>
          Box 564, Disneyland<br>
          Bangalore                                
          
      </div>
      <address >
          <b>Visit us at</b><br>
          BookZone Internet Private Limited,<br>
          Buildings Alyssa, Begonia &<br>             
          Clove Embassy Tech Village,<br>              
  
          </address>
      </div>
    </div>
