<div class="mainBg">
    <div class="addbookform">
            <i class="fas fa-bookmark fa-4x fa-rotate-270 bookIcon"></i>
            <p class="bookP">Our Address</p>

            <address>
                    Flipkart Internet Private Limited,<br>
                    Buildings Alyssa, Begonia &<br>
                    Clove Embassy Tech Village,<br>
                    Outer Ring Road, Devarabeesanahalli Village,<br>
                    Bengaluru, 560103,<br>
                    Karnataka, India<br>
            </address>

            <i class="fas fa-bookmark fa-4x fa-rotate-270 bookIcon"></i>
            <p class="bookP">Mail:</p>
            <address>
            <b >Mail us at:</b><br>
            Example.com<br>
            Box 564,  Clove Embassy<br>
            Bangalore    
        </address>
            <i class="fas fa-bookmark fa-4x fa-rotate-270 bookIcon1"></i>
            <p class="bookP1">call us at:9897576628, 9987675567  </p>

            
          
            
            

            
    </div>
    <div class="footer ">
        <i class="fas fa-book fa-3x footer-icon"></i> 
        <p class="logo-footer">BookZone</p>
      <div class="social-icons">
        <a href="https://www.facebook.com/" ><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com/"><i id="social-tw"  class="fab fa-twitter-square fa-3x social"></i></a>
        <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
        <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    
      </div>
      
  
  
      <div class="mailus">
          <div class="vl"></div>
          <b >Mail us at:</b><br>
          Example.com<br>
          Box 564, Disneyland<br>
          USA                                
          
      </div>
      <address >
          <b>Visit us at</b><br>
          Flipkart Internet Private Limited,<br>
          Buildings Alyssa, Begonia &<br>             
          Clove Embassy Tech Village,<br>              
  
          </address>
      </div>
</div>