.mainBg{
    background: url(../../assets/images/book.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 130vh;
    overflow: hidden;
}
.addbookform{
    background-color: white;
    margin-top:100px;
    margin-left:33%;
    position: absolute;
    height: 95%;
    width: 35%;
    scroll-behavior: auto;
    
}
.bookIcon{
    margin-top:5%; 
    color: rgb(101, 201, 235);

}
.bookP{
    border: 1px solid ;
    margin-left:8.5%;
    margin-top:-10%;
    padding-left:10px;
    background-color:black ;
    color: white;
}
address{
    padding: 20px;
    
}
.bookIcon1{
    margin-top:-2%; 
    color: rgb(101, 201, 235);

}
.bookP1{
    border: 1px solid ;
    margin-left:8.5%;
    margin-top:-10%;
    padding-left:10px;
    background-color:black ;
    color: white;
}


.footer {
 
    margin-left:6%;
    
     margin-top:65%;
     margin-bottom: 2%;
     height: 100px;
     bottom: 0;
     width: 89%;
    position: relative;
     background-color: white;
        position: relative;
     text-align: center;
     border-radius:5px;
   }
   .footer address{
    float: right;
    font-size: 12px;
    margin-top:-9%;
    margin-right:30px;
    text-align: left;
}
.mailus{
  font-size: 12px;
  margin-top:-2%;
 padding: 12px;
  margin-left:63%;
  text-align: left;
}
.vl {
  border-left: 1px solid black;
  height: 83px;
  margin-right:10%;
  margin-left:-6%;
  position: absolute;
  margin-top:0px;
}
   .footer-icon{
       float: left;
       margin-top:15px;
       margin-left:15px;
   }
 .logo-footer{
     float: left;
     margin-top:21px;
     
     font-size:20px;
 }
 .fb-icon{
     margin-left:-10%;
 }
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 .social-icons{
     float: left;
     margin-top:20px;
     margin-left:170px;
     
 }
 .social-icons a{
     padding: 10px;
     color:rgb(90, 201, 238)
 }