<div class="mainBg">
    <div class="addbookform">
        <div class="title">
            Enter the details 
        </div>
        <form #addForm="ngForm" (ngSubmit)="addbook(addForm.value)">
              <div>
                <div class="form-group">
                  <label for="title">Title<span class="required" style="color: red">*</span></label>
                  <input class="form-control form-control-sm" style="width:40%" type="text" name="title" #titleRef="ngModel" ngModel placeholder="title" required>
                 
                </div>
                <div class="form-group" style="margin-left:45%; margin-top:-8.5%">
                    <label for="title">Subtitle</label>
                    <input class="form-control form-control-sm" style="width:100%" type="text" name="subtitle"  #subtitleRef="ngModel" ngModel placeholder="subtitle" >
                </div> 
              </div>

              <div class="row errors">
              <div *ngIf="titleRef.invalid && (titleRef.dirty || titleRef.touched)" class="col-sm-6" >
                  <div *ngIf="titleRef.errors.required">
                      <p style="color: red"> Title is required required</p>
                  </div>
                </div>

                <!-- <div *ngIf="subtitleRef.invalid && (subtitleRef.dirty || subtitleRef.touched)"  class="col-sm-6">
                    <div *ngIf="subtitleRef.errors.required">
                        <p style="color: red"> required</p>
                    </div>
                </div> -->
              </div> 

                <div class="form-group">
                    <label for="exampleFormControlTextarea2">Description</label>
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"name="description" #descriptionRef="ngModel" ngModel placeholder="description"></textarea>
                  </div>

                <div >
                <div class="form-group">
                  <label for="author">Author<span class="required" style="color: red">*</span></label>
                  <input class="form-control form-control-sm" type="text" pattern="[a-zA-Z]{1,15}" style="width:30%" required name="author" #authorRef="ngModel" ngModel placeholder="author">
                </div>
                <div class="form-group"  style="margin-left:35%; margin-top:-8.5%">
                    <label for="quantity">Category</label>
                    <input class="form-control form-control-sm" type="text" style="width:40%"  name="category" #categoryRef="ngModel" ngModel placeholder="category">
                </div>
              </div>
                <div class="row">
                    <div *ngIf="authorRef.invalid && (authorRef.dirty || authorRef.touched)" class="col-sm-6" >
                        <div *ngIf="authorRef.errors.required">
                            <p style="color: red">Author name is required</p>
                        </div>
                        <div *ngIf="authorRef.pattern.invalid">
                            <p style="color: red">Author name is invalid</p>
                        </div>
                      </div>
      
                      <!-- <div *ngIf="categoryRef.invalid && (categoryRef.dirty || categoryRef.touched)"  class="col-sm-6">
                          <div *ngIf="categoryRef.errors.required">
                              <p style="color: red"> required</p>
                          </div>
                      </div> -->
                    </div> 

                
                <div>
                <div class="form-group">
                        <label for="price">Price<span class="required" style="color: red">*</span></label>
                        <input class="form-control form-control-sm"  style="width:30%" type="number" name="price" #priceRef="ngModel" ngModel placeholder="price" required>
                </div>
                <div class="form-group"  style="margin-left:35%; margin-top:-8.5%">
                        <label for="quantity">Quantity<span class="required" style="color: red">*</span></label>
                        <input class="form-control form-control-sm" type="number" style="width:40%" name="quantity" #quantityRef="ngModel" ngModel placeholder="quantity" required>
                      </div>
                </div>
                <div class="row">
                    <div *ngIf="priceRef.invalid && (priceRef.dirty || priceRef.touched)" class="col-sm-4" >
                        <div *ngIf="priceRef.errors.required">
                            <p style="color: red"> Price is required</p>
                        </div>
                        
                      </div>
      
                      <div *ngIf="quantityRef.invalid && (quantityRef.dirty || quantityRef.touched)"  class="col-sm-6">
                          <div *ngIf="quantityRef.errors.required">
                              <p style="color: red"> Quantity is required</p>
                          </div>
                          <div *ngIf="quantityRef.errors.invalid">
                              <p style="color: red">Invalid quantity</p>
                          </div>
                      </div>
                    </div> 
                      <br>
                    


                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            
    </div>

    <div class="footer ">
      <i class="fas fa-book fa-3x footer-icon"></i> 
      <p class="logo-footer">BookZone</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/" ><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/"><i id="social-tw"  class="fab fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
  
    </div>
    


    <div class="mailus">
        <div class="vl"></div>
        <b >Mail us at:</b><br>
        Example.com<br>
        Box 564, Disneyland<br>
        Bangalore                                
        
    </div>
    <address >
        <b>Visit us at</b><br>
        BookZone Internet Private Limited,<br>
        Buildings Alyssa, Begonia &<br>             
        Clove Embassy Tech Village,<br>              

        </address>
    </div>
  
</div>