<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>
<div class="mainBg">

       <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                  <i class="fas fa-bookmark fa-rotate-270 fa-3x bookmark-icon"></i>
                                 
                                <div class="carousel-item active" style="text-align: center; "data-interval="10000">
                                    <p class="recent">recent search</p>
                                  <p class="views">{{views[0]}}</p>
                                </div>
                                <div class="carousel-item" style="text-align: center; "data-interval="2000">
                                    <p class="recent">recent search</p>
                                   <p class="views">{{views[1]}}</p>
                                </div>
                                <div class="carousel-item" style="text-align: center; "data-interval="2000">
                                    <p class="recent">recent search</p>
                                  <p class="views">{{views[2]}}</p>
                                </div>
                                <div class="carousel-item" style="text-align: center; "data-interval="2000">
                                    <p class="recent">recent search</p>
                                  <p class="views">{{views[3]}}</p>
                                </div>
                                <div class="carousel-item" style="text-align: center; "data-interval="2000">
                                    <p class="recent">recent search</p>
                                  <p class="views">{{views[4]}}</p>
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>


      <div class="mainBox">
           <label class="welcome"><h1>Welcome,</h1></label> <br>
           <label class="welcomeCap"><p >   Have a nice day! </p>  </label>
            <div class="timeBox"><p style="margin-left:20px;">{{time}}</p></div>  
            <p style="margin-left:20px;">{{day}}</p>
            
            <div class="additemBox col-*-*">
                  <h3>Books</h3>
                  <p>Here you can add a new Book....</p>
                  <button routerLink="add" type="button" class="btn btn-success">Add</button>
            </div>
        
      </div>
      <div class="row"> 

    
      <div class="title col-sm-12">
        <div class="search-container ">
          <!-- <form #formRef="ngForm"  (ngSubmit)="search(formRef.value)"> -->
            <input type="text" placeholder="Search.."  name="searchTerm"  [(ngModel)]="searchTerm">
            <button type="submit"><i class="fas fa-search fa-1x"></i></button>{{searchTerm}}
          <!-- </form> -->
        </div>
      </div>
      <div class="content  ">
            <table class="table table-striped table-dark "  >
                <colgroup>
                  <col class="w" >
                  <col style="width: 320px">
                  <col style="width:200px">
                  <col style="width:200px">
                  <col style="width: 200px">
                  <col style="width:230px;">
                </colgroup>
                <thead >
                  <tr>
                    <th scope="col" >#</th>
                    <th scope="col"  >Title</th>
                    <th scope="col"  >Quantity</th>
                    <th scope="col" >Price</th>
                    <!-- <th scope="col" >Description</th>                   -->
                    <th scope="col" >Author</th>
                    <th scope="col" style="text-align: center;" >Actions</th>
                  </tr>
                </thead>
                <tbody *ngFor="let b of books | searchFilter:searchTerm ; let i = index">
                  <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{b.title}}</td>
                    <td>{{b.quantity}}</td>
                    <td>{{b.price}}</td>
                   
                    <td>{{b.author}}</td>
                    <td style="text-align: center;"><button type="button" class="btn btn-info"  [routerLink] ="b.id" >View</button>  
                    <button type="button" class="btn btn-info"  [routerLink]="['update',b.id]" >Update</button></td>
                    
                  </tr>
                 
                </tbody>
              </table>
        </div>
      </div>
     
      <div class="footer ">
          <i class="fas fa-book fa-3x footer-icon"></i> 
          <p class="logo-footer">BookZone</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/" ><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
          <a href="https://twitter.com/"><i id="social-tw"  class="fab fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      
        </div>
        


          <div class="mailus">
              <div class="vl"></div>
              <b >Mail us at:</b><br>
              Example.com<br>
              Box 564, Disneyland<br>
              Banagalore                                
              
          </div>
          <address >
              <b>Visit us at</b><br>
              BookZone Internet Private Limited,<br>
              Buildings Alyssa, Begonia &<br>             
              Clove Embassy Tech Village,<br>              

              </address>
        </div>
     
</div>
