.mainBg{
    background: url(../../assets/images/book.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 200vh;
}
.carousel-card{
   
    height: 30px;
    width: 14rem;
    background-color: white;
    position: absolute;
}
#carouselExampleInterval{
    width: 19rem;margin-top:7%;
            margin-left:6%;
            position: absolute; height: 400px;
}

.mainBox{
    position: absolute;
    height: 61%;
    width: 65%;
    background-color: whitesmoke;
    margin-left:29%;
    margin-top:7%;
    border-radius:5px;

}

.welcome{
    margin-top: 50px;
    margin-left:30px;
}
.welcomeCap{
    font-size:16px;
    margin-left:30px;
    font-weight: inherit
}
.timeBox{
    font-size:30px;
    /* border: 1px solid black; */
    box-shadow: 0 15px 25px -10px rgba(0,0,0,.35);
    align-content: center;
    padding: 10px;
    height: 70px;
    width:250px;
    background-color: #A0DEE2;
}
.additemBox{
    position: absolute;
    height: 150px;
    width: 300px;
    background-color: white;
    margin-left:60%;
    margin-top:-15%;
    box-shadow: 0 15px 25px -10px rgba(0,0,0,.35);
    padding: 15px;
}
.ccc{
    position: absolute;
    margin-top: 40%;
   margin-left:6%; 
}
.content{
    position: absolute;
    margin-top:38%;
    margin-left:7%;
}
td button{
    margin: 6px;
}
table{
    overflow-y:scroll; 
    height:600px; 
    display:block; 
    table-layout: fixed;
    width: 1200px;
}
.card-title{
    /* font-family: 'Lobster Two', cursive; */
    font-size:30px;
    color:blue
}
.usericon{
    margin-top:10%; 
    margin-left:35%;
}
.title{
    font-size:30px;
    /* border: 1px solid black; */
    box-shadow: 0 15px 25px -10px rgba(0,0,0,.35);
    align-content: center;
    padding: 0px;
    width:88.3%;
    height: 70px;
    text-align: center;
    background-color: #A0DEE2;
    position: absolute;
    margin-top:32%;
    margin-left:7%;
}
.carousel-item{
    
    height: 335px;
    border:12px solid black;
    border-style: groove;
    
    
}
.bd-example{
    height: 350px;  
    
    width: 10rem;
    position: absolute;
}
.carousel-item .views{
    font-size: 20px ;
    border-style: solid;
    margin-top:70px; 
    border-width: 6px;
    border-style: inset;
    padding: 12px;

    
}
.bookmark-icon{
    padding: 15px;
    margin-left:-3%; 
    position: absolute;
    color: yellow

}
.recent{
    margin-top:5%;
    margin-left:-40%;
    border:1px  ;
    
    background-color:black;
    color:white;

}
.search-container  input{
    height: 36px;
    float: right;
    width:300px;
    margin:20px;
    margin-right:10%;
    font-size:16px;
    box-shadow: 0 15px 25px -10px rgba(0,0,0,.35);
   
}
.search-container  button{
    float: right;
    margin-right:-30%;
    height: 34px;
    margin-top:1.8%;
    width:38px;
}
/*-------------footer---------*/
.footer {
   margin-top:90%;

   margin-left:6%;
    left: 0;
    height: 100px;
    bottom: 0;
    width: 89%;
    background-color: white;
   
    text-align: center;
    border-radius:5px;
  }
  address{
      float: right;
      font-size: 12px;
      margin-top:-7%;
      margin-right:30px;
      text-align: left;
  }
  .mailus{
    
    font-size: 12px;
    margin-top:-2%;
    margin-left:63%;
    padding: 12px;
    text-align: left;
  }
  .vl {
    border-left: 1px solid black;
    height: 12%;
    margin-right:10%;
    margin-left:-6%;
    position: absolute;
   
  }
  .footer-icon{
      float: left;
      margin-top:15px;
      margin-left:15px;
  }
.logo-footer{
    float: left;
    margin-top:21px;
    
    font-size:20px;
}
.fb-icon{
    margin-left:-10%;
}
#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
.social-icons{
    float: left;
    margin-top:20px;
    margin-left:170px;
    
}
.social-icons a{
    padding: 10px;
    color:rgb(90, 201, 238)
}

 
