
.usr{
    margin-left:2%;
    display: inline-block;
   
   font-size: 22px;
   /* background-color:black; */
   color:black;
}
.navigation{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.ff{
    float:right;

}


.nav_w3ls {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}

.clearfix{
    clear:both;
}
.ff  ul{
    margin:0;
    padding: 0;
    display: flex;
}
.ff  ul li{
    list-style: none;
   
}
.ff  ul li a{
    display: block;
    margin:2px 0;
    padding:10px 20px;
    text-decoration: none;
    color:#262626;
}
 .ff ul li a.active,
.ff ul li a:hover{
    background:black;
    color:#fff;
    transition:0.5s;
}
@media (max-width:1200px){
    .navigation{
        margin:20px;
    }
}

 .dropbtn {
  
     color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  } 
   .dropbtn:hover{
       color: black
   }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: black;}

  .dropdown-content button:hover{background-color: #008CBA;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #f1f1f1;}

.dropbtn{
    color: black
}
