
    <div class="nav_w3ls navigation" >
      <i class="fas fa-book fa-3x" ></i> <span *ngIf="flag" class="usr"> Hii {{c.fname}} !</span>
      
      <nav class="ff  " >
         
        <ul > 
          <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HOME</a></li>
          <li><a routerLink="/about" routerLinkActive="active">ABOUT</a></li>
          <li><a routerLink="/books" routerLinkActive="active">BOOKS</a></li>
          
          <li  *ngIf="!flag"><a routerLink="/signin" routerLinkActive="active">SIGNIN</a></li>
          <li>
           <div class="dropdown">
              <a    class="dropbtn" *ngIf="flag" routerLink="/profile" routerLinkActive="active"  >PROFILE</a>
              <!-- <a    class="dropbtn" *ngIf="flag "  >PROFILE</a> -->
              <div class="dropdown-content">
                <a  routerLink="/profile" routerLinkActive="active" >View details</a>
               <button class="dropbtn"  (click)="logout()">Logout<i class="fas fa-power-off"></i></button>
              
              </div>
            </div> 
          </li>
          <!-- <li ><button  *ngIf="flag" > <a >LOGOUT<i class="fas fa-power-off"></i></a></button></li> -->
          <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
        </ul>
       
    
      </nav> 

      
    </div>
 
<router-outlet></router-outlet>




