
<div class="mainBg">
        <div class="addbookform">
    
                <div class="title">
                        
                        {{book.title}}
                    
                    
                </div>
    
                    <form id="collapsible" #addForm="ngForm" (ngSubmit)="saveChanges(addForm.value)">
                            <div class="form-group">
                              <label for="title">Title</label>
                              <input class="form-control form-control-sm" style="width:40%" type="text" name="title" #titleRef="ngModel" [(ngModel)]= "book.title" >
                            
                            </div>
                            <div class="form-group" style="margin-left:45%; margin-top:-8.5%">
                                <label for="title">Subtitle</label>
                                <input class="form-control form-control-sm" style="width:100%" type="text" name="subtitle" #subtitleRef="ngModel" [(ngModel)]="book.subtitle" >
                            </div> 
                            
                            <div class="form-group">
                                <label for="exampleFormControlTextarea2">Description</label>
                                <textarea class="form-control rounded-0" style="height: 200px" id="exampleFormControlTextarea2" rows="3" name="description" #descriptionRef="ngModel" [(ngModel)]="book.description"></textarea>
                              </div>
            
                            <div class="form-group">
                              <label for="author">Author</label>
                              <input class="form-control form-control-sm" type="text"  style="width:30%"  name="author"  #authorRef="ngModel" [(ngModel)]="book.author">
                            </div>
                            <div class="form-group"  style="margin-left:35%; margin-top:-8.5%">
                                <label for="quantity">Category</label>
                                <input class="form-control form-control-sm" type="text" style="width:40%" name="category"  #categoryRef="ngModel" [(ngModel)]="book.category">
                              </div>
                            <div class="form-group">
                                    <label for="price">Price</label>
                                    <input class="form-control form-control-sm"  style="width:30%" type="number" name="price"  #priceRef="ngModel" [(ngModel)]="book.price">
                            </div>
                            <div class="form-group"  style="margin-left:35%; margin-top:-8.5%">
                                    <label for="quantity">Quantity</label>
                                    <input class="form-control form-control-sm" type="number" style="width:40%" name="quantity"#quantityRef="ngModel" [(ngModel)]="book.quantity">
                                  </div>
                                  
                                    <br>
            
            
                            
                            <button type="submit" class="btn btn-primary">save</button>

                            <button type="button" (click)="deleteBook(book.id)" style="float: right"  class="btn btn-danger">Delete</button>
                          </form>
            
        </div>

        <div class="footer ">
          <i class="fas fa-book fa-3x footer-icon"></i> 
          <p class="logo-footer">BookZone</p>
        <div class="social-icons">
          <a href="https://www.facebook.com/" ><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
          <a href="https://twitter.com/"><i id="social-tw"  class="fab fa-twitter-square fa-3x social"></i></a>
          <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
          <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      
        </div>
        
    
        <div class="mailus">
            <div class="vl"></div>
            <b >Mail us at:</b><br>
            Example.com<br>
            Box 564, Disneyland<br>
            Bangalore                                
            
        </div>
        <address >
            <b>Visit us at</b><br>
            BookZone Internet Private Limited,<br>
            Buildings Alyssa, Begonia &<br>             
            Clove Embassy Tech Village,<br>              
    
            </address>
        </div>
    </div>