.mainBg{
    background: url(../../assets/images/book.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 130vh;
    overflow: hidden;
}
.addbookform{
    background-color: white;
    margin-top:100px;
    margin-left:13%;
    position: absolute;
    height: 100%;
    width: 75%;
    scroll-behavior: auto;
    
}
.title{
    font-size:30px;
    /* border: 1px solid black; */
    box-shadow: 0 15px 25px -10px rgba(0,0,0,.35);
    align-content: center;
    padding: 10px;
    height: 70px;
    text-align: center;
    background-color: #A0DEE2;
}
form{
    padding: 15px;
}

.footer {
   margin-top:70%;
   margin-left:6%;
    margin-bottom: 2%;
    height: 100px;
    
    width: 89%;
    background-color: white;
   
    text-align: center;
    border-radius:5px;
  }
  address{
      float: right;
      font-size: 12px;
      margin-top:-7%;
      margin-right:30px;
      text-align: left;
  }
  .mailus{
    
    font-size: 12px;
    margin-top:-2%;
    margin-left:63%;
    text-align: left;
  }
  .vl {
    border-left: 1px solid black;
    height: 12%;
    margin-right:10%;
    margin-left:-6%;
    position: absolute;
    margin-top:10px;
  }
  .footer-icon{
      float: left;
      margin-top:15px;
      margin-left:15px;
  }
.logo-footer{
    float: left;
    margin-top:21px;
    
    font-size:20px;
}
.fb-icon{
    margin-left:-10%;
}
#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
.social-icons{
    float: left;
    margin-top:20px;
    margin-left:170px;
    
}
.social-icons a{
    padding: 10px;
    color:rgb(90, 201, 238)
}

 
