<div class="mainBg">
    <div class="addbookform">
            <div class="title">
              {{fullname}}
            </div>
            <form (ngSubmit)="goBack()">
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" class="form-control" style="width:40%"[value]="user.fname" readonly>
                    
                </div>
                <div class="form-group" style="margin-left:45%; margin-top:-8.7%">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="text" class="form-control" style="width:80%" placeholder="Last Name" [value]="user.lname" readonly>
                        
                    </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [value]="user.email" readonly>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            


            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <show-hide-password size="sm" btnStyle="primary" [btnOutline]="false">
                    <input type="password" name="password" [value]="user.password" readonly >
                  </show-hide-password>
             
            </div>
            <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="number" class="form-control" id="formGroupExampleInput" [value]="user.contact" readonly>
                  </div>
                  <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" [value]="user.location" readonly>
                      </div>
            <button type="submit" class="btn btn-primary">Go Back</button>
          </form>
    </div>

    <div class="footer ">
      <i class="fas fa-book fa-3x footer-icon"></i> 
      <p class="logo-footer">BookZone</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/" ><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/"><i id="social-tw"  class="fab fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
  
    </div>
    


      <div class="mailus">
          <div class="vl"></div>
          <b>Mail us at:</b><br>
          Flipkart Internet Private Limited,<br>
          Buildings Alyssa, Begonia &<br>             
          Clove Embassy Tech Village,<br>              
          Outer Ring Road, Devarabeesanahalli Village,
          
      </div>
      <address >
          <b>Visit us at:</b><br>
          Example.com<br>
          Box 564, Disneyland<br>
          USA
          </address>
    </div>
</div>
