<div class="banner_w3lspvt">

        
        
      <!-- banner slider -->
            <div class="st-slider">
                
              <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
              <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
              <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
              <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
              <div class="images">
                <div class="images-inner">
                  <div class="image-slide">
                    <div class="banner-w3ls-1">
      
                    </div>
                  </div>
                  <div class="image-slide">
                    <div class="banner-w3ls-2">
      
                    </div>
                  </div>
                  <div class="image-slide">
                    <div class="banner-w3ls-3">
      
                    </div>
                  </div>
                </div>
              </div>
              <div class="labels">
                <div class="fake-radio">
                  <label for="slide1" class="radio-btn"></label>
                  <label for="slide2" class="radio-btn"></label>
                  <label for="slide3" class="radio-btn"></label>
                </div>
              </div>
              <!-- banner-text -->
              <div class="banner-text">
                <fieldset>
                  <legend>
                    <a href="index.html" class="logo">BookZone</a>
                  </legend>
                  <div class="banner-sub-txt">
                    <h1 class="banner-txt">There is no one as loyal as a Book</h1>
                    <p class="banner-txt1">The journey of a lifetime starts with the turning of a page.......<span><i class="fas fa-book-open fa-2x"></i></span></p>
                    <a routerLink="about" class="btn button-style mt-5">Read More</a>
                  </div>
                </fieldset>
              </div>
              <!-- //banner-text -->
            </div>
            <!-- //banner slider -->
            <div class="footer"></div>
          </div>
