


 

/* banner */
.banner_w3lspvt {
    position: relative;
    z-index: 1;
  
}



/* banner-text */
.banner-text {
    text-align: center;
    padding: 11vw 0 14vw;
    max-width: 800px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
}

fieldset {
    padding: 1em;
    border: 5px solid rgba(255, 255, 255, 1.7);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    position: relative;
    height: 3%;
}

legend {
    max-width: 500px;
    margin: 0 auto;
}

a.logo {
    color: #fff;
    letter-spacing: 4px;
    font-size: 4.5em;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.27);
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    text-decoration: none;
}

.banner-text h1.banner-txt {
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2em;
    text-transform: uppercase;
    position: relative;
}

.banner-text h1.banner-txt:after {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    content: "";
    width: 200px;
    height: 1px;
    bottom: -13px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.banner-text p.banner-txt1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 2em auto 3em;
    max-width: 700px;
}

a.button-style {
    padding: 13px 26px;
    color: #000;
    letter-spacing: 1px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    border: 1px solid #fff;
    font-size: 15px;
    background: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: -27px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    max-width: 150px;
}

/* banner slider */
.radio {
    display: none;
}

.images {
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.images-inner {
    width: 500%;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.image-slide {
    width: 20%;
    float: left;
}

.image-slide,
.fake-radio,
.radio-btn {
    transition: all 0.5s ease-out;
}

.fake-radio {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    z-index: 9;
}

/* Move slides overflowed container */
#slide1:checked~.images .images-inner {
    margin-left: 0;
}

#slide2:checked~.images .images-inner {
    margin-left: -100%;
}

#slide3:checked~.images .images-inner {
    margin-left: -200%;
}

/* Color of bullets */
#slide1:checked~div .fake-radio .radio-btn:nth-child(1),
#slide2:checked~div .fake-radio .radio-btn:nth-child(2),
#slide3:checked~div .fake-radio .radio-btn:nth-child(3) {
    background: #ff3c41;
}

.radio-btn {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    display: inline-block !important;
    margin: 0 1px;
    cursor: pointer;
}

/* Color of bullets - END */

/* Text of slides */
#slide1:checked~.labels .label:nth-child(1),
#slide2:checked~.labels .label:nth-child(2),
#slide3:checked~.labels .label:nth-child(3) {
    opacity: 1;
}

.label {
    opacity: 0;
    position: absolute;
}

/* Text of slides - END */

/* Calculate AUTOPLAY for BULLETS */
@keyframes bullet {

    0%,
    33.32333333333334% {
        background: red;
    }

    33.333333333333336%,
    100% {
        background: gray;
    }
}

#play1:checked~div .fake-radio .radio-btn:nth-child(1) {
    animation: bullet 12300ms infinite -1000ms;
}

#play1:checked~div .fake-radio .radio-btn:nth-child(2) {
    animation: bullet 12300ms infinite 3100ms;
}

#play1:checked~div .fake-radio .radio-btn:nth-child(3) {
    animation: bullet 12300ms infinite 7200ms;
}

/* Calculate AUTOPLAY for BULLETS - END */

/* Calculate AUTOPLAY for SLIDES */
@keyframes slide {

    0%,
    25.203252032520325% {
        margin-left: 0;
    }

    33.333333333333336%,
    58.53658536585366% {
        margin-left: -100%;
    }

    66.66666666666667%,
    91.869918699187% {
        margin-left: -200%;
    }
}

.st-slider>#play1:checked~.images .images-inner {
    animation: slide 12300ms infinite;
 
}

/* Calculate AUTOPLAY for SLIDES - END */
/* //banner slider */

/* background images for banner */
.banner-w3ls-1 {
    background: url(../../assets/images/book7.png) no-repeat top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 700px;
}

.banner-w3ls-2 {
    background: url(../../assets/images/book2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 700px;
}

.banner-w3ls-3 {
    background: url(../../assets/images/book6.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 700px;
}

/* //background images for banner */
/* //banner text */




.banner_w3lspvt-2 {
    background: url(../images/1.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    
}

.banner-inner {
    padding: 4vw 0;
}
.footer{
    height: 50px;
    background-color:black;
}

