
<div class="main-bg">
        <div class="general ">
                <h1 class="title">Lets Begin! <i class="far fa-smile"></i> </h1>
            <form class="form1" #formRef="ngForm" (ngSubmit)="register(formRef.value)" >
                    
                <div>
                    <label for="fname" >First Name<span class="required" style="color: red">*</span></label> <br>
                    <input type="text"  name="fname" pattern="[a-zA-Z]{1,15}" 
                    title="Username should only contain lowercase letters. e.g. john"  placeholder="firstname"
                    #fnameRef="ngModel" ngModel required>
                   
                    <br><br *ngIf="!(fnameRef.invalid && (fnameRef.dirty || fnameRef.touched))">
                    <div *ngIf="fnameRef.invalid && (fnameRef.dirty || fnameRef.touched)" >
                        <div *ngIf="fnameRef.errors.required">
                            <p style="color: red"> first name is required</p>
                        </div>
                        <div *ngIf="fnameRef.errors.pattern">
                                <p style="color: red"> This is not the specified pattern</p>
                            </div>
                    </div>
                    
                    
                </div>
                <div >
                    <label for="lname">Last Name<span class="required" style="color: red">*</span></label> <br>
                    <input type="text" name="lname" pattern="[a-zA-Z]{1,15}" #lnameRef="ngModel" ngModel placeholder="lastname" required >
                    
                    <br ><br *ngIf="!(lnameRef.invalid && (lnameRef.dirty || lnameRef.touched))">
                    <div *ngIf="lnameRef.invalid && (lnameRef.dirty || lnameRef.touched)" >
                        <div *ngIf="lnameRef.errors.required">
                            <p style="color: red"> last name required</p>
                        </div>
                        <div *ngIf="lnameRef.errors.pattern">
                                <p style="color: red"> This is not the specified pattern</p>
                            </div>
                    </div>
                </div>
                
                <div class="inputIcon iconBg">
                    <label for="email">Email<span class="required" style="color: red">*</span></label> <br>
                    <input type="email" name="email" #emailRef="ngModel" ngModel  placeholder="email" required email>
                    <i class="fas fa-envelope"></i>
                    
                    <br><br *ngIf="!(emailRef.invalid && (emailRef.dirty || emailRef.touched))">
                    <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)" >
                        <div *ngIf="emailRef.errors.required">
                            <p style="color: red"> email is required</p>
                        </div>
                        <div *ngIf="emailRef.errors.email">
                            <p style="color: red"> email is invalid</p>
                        </div>
                    </div>
                    
                </div>
               
                <div class="inputIcon iconBg">
                    <label for="password">Password<span class="required" style="color: red">*</span></label> <br>
                    <input type="password" name="password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})"
                    #passwordRef="ngModel" ngModel  placeholder="password" required>
                    <i class="fas fa-unlock-alt"></i>
                    
                    <br><br *ngIf="!(passwordRef.invalid && (passwordRef.dirty || passwordRef.touched))">
                    <div *ngIf="passwordRef.invalid && (passwordRef.dirty || passwordRef.touched)" >
                            <div *ngIf="passwordRef.errors.required">
                                <p style="color: red"> password is required</p>
                            </div>
                            <div *ngIf="passwordRef.errors.pattern">
                                    <p style="color: red"> password is invalid</p>
                                </div>
                        </div> 
                </div>
                <div class=" inputIcon iconBg">
                    <label for="cPassword">Confirm Password</label> <br>
                    <input type="password"  name="cPassword" #cpasswordRef="ngModel" ngModel  placeholder="password" appConfirmEqualValidator="password" required >
                    <i class="fas fa-unlock-alt"></i>
                    
                    <br><br *ngIf="!(cpasswordRef.invalid && (cpasswordRef.dirty || cpasswordRef.touched))">
                    <div *ngIf="cpasswordRef.invalid && (cpasswordRef.dirty || cpasswordRef.touched)" >
                            <div *ngIf="cpasswordRef.errors.required">
                                <p style="color: red"> confirm password is required</p>
                            </div>
                            <div *ngIf="  cpasswordRef.errors.notEqual"><br>
                                    <p style="color: red"> password and confirm password doesn't match</p>
                                </div>
                        </div>  
                </div>
                
                <div class="inputIcon iconBg">
                    <label for="contactno">Contact no.<span class="required" style="color: red">*</span></label> <br>
                    <input type="tel" pattern="(7|8|9)\d{9}$"  name="contactno" #contactRef="ngModel" ngModel placeholder="contactno." required >
                    <i class="fas fa-phone-alt"></i>
                    
                    <br><br *ngIf="!(contactRef.invalid && (contactRef.dirty || contactRef.touched))">
                    <div *ngIf="contactRef.invalid && (contactRef.dirty || contactRef.touched)" >
                            <div *ngIf="contactRef.errors.required">
                                <p style="color: red">contact number is  required</p>
                            </div>
                            <div *ngIf="contactRef.errors.pattern">
                                    <p style="color: red">contact number is  invalid</p>
                                </div>
                        </div> 
                </div>
                <div class="inputIcon iconBg">
                    <label for="location">Location<span class="required" style="color: red">*</span></label> <br>
                    <select name="location" [(ngModel)]="locations[0]" required>
                        <option *ngFor="let location of locations" [value]="location">{{location}} </option>
                        
                    </select>
                    <i class="fas fa-home"></i>
                    
                </div>
                <br>
                <button type="submit"  class="btn btn-success" [disabled]="formRef.invalid">register</button>

                
            </form>
        </div>
        <div class="contact ">
            <div class="registerBox ">
                    <p class="specification">Form Specifications:</p>
                <section class="section">
                    
                    <ul>
                        <li> Name should contain only letters or numbers. </li>
                        <li>Password should be of length 6 and contains atllease 1 lowercase, 1 uppercase,1 digit and 1 special symbol.</li>
                        <li>contach number should be of 10 digits</li>
                        
                    </ul>
                </section>
                
                
            </div>
        </div>

        <div class="footer ">
            <i class="fas fa-book fa-3x footer-icon"></i> 
            <p class="logo-footer">BookZone</p>
          <div class="social-icons">
            <a href="https://www.facebook.com/" ><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/"><i id="social-tw"  class="fab fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        
          </div>
          
      
      
          <div class="mailus">
              <div class="vl"></div>
              <b >Mail us at:</b><br>
              Example.com<br>
              Box 564, Disneyland<br>
              Bangalore                                
              
          </div>
          <address >
              <b>Visit us at</b><br>
              BookZone Internet Private Limited,<br>
              Buildings Alyssa, Begonia &<br>             
              Clove Embassy Tech Village,<br>              
      
              </address>
          </div>
</div>