.main-bg {
    background: url(../../assets/images/book.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    
}
.title{
    margin-left: 10%;
    margin-top:5%;
}
.general {
    height: 800px;
    width: 495px;
    margin-top:9%;
    margin-left:15%;
    position: absolute;
    background-color: white;
    /* box-shadow:0 2px 120px rgba(0,0,0,.75); */
}
.general label{
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.contact{
    height: 800px;
    width: 495px;
    margin-top:9%;
    margin-left:51%;
    position: absolute;
    background-color: #7CB7C6;

}
.form1{
    margin-left: 10%;
    margin-top: 3%;
}
.general input,select{
    height: 30px;
    width: 75%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:3px 0;
    outline: none;
    padding:5px;
    box-sizing:border-box;
    transition: .3s;
    font-size:16px;
   
}
.general .form1 p{
    font-size:12px;
    font-style: italic
}
select{
  height: 34px;
}

.general input:focus,select:focus{
    border-color:#32949F;
    box-shadow: 0 0 8px 0 #32949F;
}
.inputIcon input{
    padding-left: 40px;
}
.inputIcon select{
    padding-left: 40px;
}
.inputIcon{
    position: relative;
}
.inputIcon i{
    position: absolute;
    left :6px;
    top:33px;
    padding: 9px, 8px;
    color: #aaa;
    transition: .3s;
}
.inputIcon :focus + i{
    color:#32949F;
}

.registerBox{
    background-color: white;
    width:50%;
    height:40%;

    margin-top: 42%;
    margin-left:25%;
    position: relative;
    box-shadow: 0 15px 25px -10px rgba(0,0,0,.75);
    transition: transform 300ms;
}
.registerBox:hover{
    transform:scale(1.1)
}
.registerBox .section{
    padding-top: 0px;
    margin:13%;
    font-size:13px;
    font-style: italic;
}

.registerBox .specification{
    padding-top: 35px;
    padding-left:20px; 
    font-weight: bold;
    text-decoration: underline;
}

.footer {
 
    margin-left:6%;
    
     margin-top:75%;
     margin-bottom: 2%;
     height: 100px;
     bottom: 0;
     width: 89%;
    position: relative;
     background-color: white;
        position: relative;
     text-align: center;
     border-radius:5px;
   }
   .footer address{
    float: right;
    font-size: 12px;
    margin-top:-7%;
    margin-right:30px;
    text-align: left;
}
.mailus{
  font-size: 12px;
  margin-top:-2%;
 padding: 12px;
  margin-left:63%;
  text-align: left;
}
.vl {
  border-left: 1px solid black;
  height: 83px;
  margin-right:10%;
  margin-left:-6%;
  position: absolute;
  margin-top:0px;
}
   .footer-icon{
       float: left;
       margin-top:15px;
       margin-left:15px;
   }
 .logo-footer{
     float: left;
     margin-top:21px;
     
     font-size:20px;
 }
 .fb-icon{
     margin-left:-10%;
 }
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 .social-icons{
     float: left;
     margin-top:20px;
     margin-left:170px;
     
 }
 .social-icons a{
     padding: 10px;
     color:rgb(90, 201, 238)
 }
